header.navbar {
    background-color: navy;
    height: 50px; /* Adjust the height as needed */
    width: 100%;
  }

body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    text-align: center;
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the content */
    padding-top: 50px; /* Add padding to the top of the content to prevent overlap with the fixed header */
  }
  
  h1 {
    font-size: 55px;
    margin-top: 0px;
    margin-bottom: 600px; /* Adjust the distance between the items */
    
  }
  
  button {
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    background-color: rgb(115, 108, 209);
    color: white;
    border-radius: 5px;
    transition: background-color 0.5s ease;
    margin-bottom: 2px;
  }
  
  button:hover {
    background-color: navy; /* Change background color on hover */
  }

  .volume {
    margin-top: 30px;
    margin-bottom: 300px; /* Adjust the distance between the items */
    font-size: 24px;    
}
  
  .fa-volume-up,
  .fa-volume-off {
    font-size: 24px;
  }
  
  /* Style for muted icon */
  .fa-volume-off {
    color: red; /* Initial color when muted */
  }
  
  